/*
 * Copyright 2024, Technology Innovation Institute
 *
 * SPDX-License-Identifier: GPL-2.0-only
 */

/ {
	chosen {
		seL4,elfloader-devices =
		    "serial0",
		    &{/psci},
		    &{/timer};

		seL4,kernel-devices =
		    "serial0",
		    &{/bus@0/interrupt-controller@f400000},
		    &{/timer};
	};
};
